@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
.hover-trigger .hover-target {
  opacity: 0;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.hover-trigger:hover .hover-target {
  opacity: 1;
  transform: translateX(0);
}
img {
  transition: filter 0.3s ease, opacity 0.3s ease;
}
